<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>익명계시판</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <h1>(목록화면)</h1>
  <div class="wrap">
    <div class="head">
      <h1>익명게시판</h1>
    <form action="/new" method="get">
      <input type="submit" value="새글">
    </form>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>게시물</th>
        </tr>
      </thead>
      <tbody>
      <% data.forEach(item => { %>
        <tr>
          <td><%= item.num %></td>
          <td><a href="/content/<%= item.num %>"><%= item.title %></a></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>