<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>익명계시판</title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="head">
      <h2>익명게시판</h2>
    </div>
    <form action="/new" method="get" class="text-right">
      <input type="submit" class="btn btn-outline-dark" value="새글">
    </form>
    <table class="table table-striped table-inverse">
      <thead>
        <tr>
          <th>번호</th>
          <th>게시물</th>
          <th>작성자</th>
        </tr>
      </thead>
      <tbody>
      <% data.forEach(item => { %>
        <tr>
          <td><%= item.num %></td>
          <td><a href="/content/<%= item.num %>"><%= item.title %></a></td>
          <td><%= item.author %></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>