<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>새 글 입력화면</title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
  <div class="container">
  <table class="table table-striped table-inverse">
    <tr>
      <td>새 글 입력화면</td>
    </tr>
  </table>
  <form action="/" method="post">
    <table class="table table-striped table-inverse">
      <tr>
        <td><input type="text" name="title" placeholder="title" class="form-control"></td>
        <td><input type="text" name="author" placeholder="author" class="form-control"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="text" name="body" placeholder="text" class="form-control" style="height: 200px;"></td>
      </tr>
      <tr>
        <td colspan="2">
        <input type="submit" value="전송" class="btn btn-outline-success">
        <a href="/" class="btn btn-outline-success">목록</a>
        </td>
      </tr>
    </table>
  </form>
  </div>
</body>
</html>