* {
  margin: 0;
  padding: 0;
}
body {
  width: 800px;
}
.wrap {
  border: 1px dotted black;
  background-color: skyblue;
}
.head {
  margin: 30px;
  text-align: center;
}
.list {
  margin: 10px 20px;;
}
table {
  text-align: center;
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #444444;
  padding: 10px;
}