body{
  text-align: center;
  margin: 0;
  padding: 0;
  width: 800px;
}
.wrap {
  border: 1px dotted black;
  background-color: skyblue;
}
.title{
  width: 300px;
  height: 20px;
}
.body{
  width: 700px;
  height: 500px;
  margin: 10px 20px;
  display: block;
}
.submit{
  
}